body {
  background: #ddd;
}
#toc {
  text-align: left;
  padding-top: 10px;
  height: 100%;
  overflow: hidden;
}
.toc {
  margin: 11 16 0 10;
}
.toc a {
  text-decoration: none;
  color: black;
}
.toc a:hover {
  color: crimson;
}
.toc-level-1 {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 15px;
  text-decoration: underline;
}
.toc-level-2 {
  font-weight: bold;
  font-size: 14px;
}
.toc-level-3 {
  padding-left: 16px;
  font-size: 13px;
}
.toc-container {
  background: rgba(255, 255, 255, 0);
  position: fixed;
  top: 0;
  left: -286;
  height: 100%;
  width: 300px;
  text-align: right;
  overflow: hidden;
  z-index: 999;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}
.toc-container:hover,
.hover {
  left: 0;
  overflow-y: auto;
  background: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 9px rgba(70, 70, 70, 0.6);
}
.hover #toc,
.toc-container:hover #toc {
  overflow: auto;
}
.toc-caret {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -32;
}
.toc-caret a {
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
  color: black;
}
.container {
  overflow: hidden;
  zoom: 1;
  background: white;
  padding: 30 70;
}
.md h1 {
  font-size: 24px;
  font-variant: small-caps;
  border-bottom: solid 2px black;
  font-weight: bold;
  margin: 20 0 25 0;
}

.md h2 {
  font-size: 22px;
  border-bottom: solid 1px black;
  font-weight: bold;
  margin: 15 0 20 0;
}

.md h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 15 0 20 0;
}

.md h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 10 0 15 0;
}

.md h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 10 0 15 0;
}

.md h6 {
  font-size: 14px;
  font-weight: bold;
  margin: 10 0 15 0;
}

.md p {
  font-size: 14px;
  margin: 10 0 15 0;
  text-align: justify;
}

.md li {
  font-size: 14px;
}

.md table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.md table th {
  font-size: 14px;
  padding: 0.6rem;
  border-top: 1px solid #dee2e6;
}

.md table td {
  font-size: 14px;
  padding: 0.6rem;
  border-top: 1px solid #dee2e6;
}

.md pre {
  background: #eeeeee;
  padding: 10;
}

.md blockquote {
  border-left: 0.25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 0.5em;
}

.md ol,
.md ul {
  padding-inline-start: 1rem;
}
